/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: black;

  --ifm-color-primary-dark: #1766cf;   
  --ifm-color-primary-darker: #155cb7; 
  --ifm-color-primary-darkest: #114c95;

  --ifm-color-primary-light: #2c7de9;  
  --ifm-color-primary-lighter: #428cec;
  --ifm-color-primary-lightest: #6a9cee;

  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  --ifm-background-color: lab(100% 0 0)
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: white;

  --ifm-color-primary-dark: #3b79e7;
  --ifm-color-primary-darker: #366fcd;
  --ifm-color-primary-darkest: #2e5da9;

  --ifm-color-primary-light: #5992f5; 
  --ifm-color-primary-lighter: #6fa0f7;
  --ifm-color-primary-lightest: #94b9fb;

  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);

  --ifm-background-color: lab(2.75381% 0 0);
}

.navbar {
  background-color: lab(96.52% -.0000298023 .0000119209);
}

[data-theme='dark'] .navbar {
  background-color: lab(7.78201% -.0000149012 0);
}

.navbar__title {
  font-size: 1.5rem;
}

.footer {
  background-color: lab(96.52% -.0000298023 .0000119209);
  color: black;
}

.footer__title {
  color: black;
}

.footer__link-item {
  color: black;
}

[data-theme='dark'] .footer {
  background-color: lab(7.78201% -.0000149012 0);
  color: white;
}

[data-theme='dark'] .footer__title {
  color: white;
}

[data-theme='dark'] .footer__link-item {
  color: white;
}
